/* style.css */
@charset "UTF-8";html,body {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    font-family: '思源黑體', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url('./img/測驗背景_工作區域\ 1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #007BFF;
    margin-bottom: 10px; /* 調整標題和內容之間的距離 */
}

h2 {
    color: #265382;
}

#quiz-container {
    display: none;
    /*background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    margin: 20px;
    max-width: 400px;
    width: 400px;
}

#result-container {
    display: none;
    /*background-color: #fff;*/
    border-radius: 10px;
    padding: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    margin: 20px auto;
    max-width: 350px;
    width: 100%;
}

#result-container img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px; /* 可根据需要调整圆角 */
    margin: auto;
}

#result-text {
    display: none;

}

#result-description {
    display: none;
}

#question-heading,
#question-text {
    /*background-image: url('./img/your-image.jpg'); /* Replace with the path to your image */
    /*background-size: cover;*/
    color: #007BFF; /* Set the text color */
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    position: relative;
    background-color: #007BFF;
    color: #fff;
    margin: 5px;
    margin-left: 5px;
    padding: 8px 70px; /* 調整 padding */
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
    text-align: center; /* 修改為左對齊 */
}

/* 將 :checked 擴展選擇器應用於選中的 label 元素 */
input[type="radio"]:checked + label {
    background-color: #0056b3;
    color: #fff;
    text-align: center;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

label:hover {
    background-color: #0056b3;
    color: #fff;
}


@media (max-width: 600px) {
    #quiz-container, #result-container {
        max-width: 80%;
    }
}
